@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.active {
  background-color: #00cc99;
}

.today {
  background-color: #00cc99; 
  color: #213d33;
  font-weight: bold;
  border-radius: 8px;
  color: white;
}

.today:hover{
  background-color: white;
  color: #213d33;
  border: #213d33;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #1bc5bd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00cc99;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #213d33;
}
